.sectionOne {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}
.loader {
    position: absolute;
    align-items: center;
    top: 40%;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.chat::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.bm-item-list a {
    color: #ffffff;
}
.bm-item-list a:hover {
    color: #ff6a25;
}
.bm-item span {
    margin-right: 10px;
}
.ant-popover-inner-content, .ant-popover-title {
    color: white;
}
@media only screen and (max-width: 1000px) {
    .content-field{
        width: 100% !important;
    }
}

.ant-card-body {
    padding: 15px;
}

.sidebar {
    grid-area: n;
}

.app-content {
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.24);
    grid-area: c;
}

body {
    overflow-y: scroll;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.powerOff {
    background: none;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: all 300ms;
}

.powerOff:hover {
    background-color: red;
    color: red;
    border: 1px solid white;
}